@charset "utf-8";
/* CSS Document */



.cf a{text-decoration:none;}
.cf img{border:none; vertical-align:top;}
.cf ul{list-style:none;} 
.cf ol{list-style-position:inside;}
.cf input{vertical-align:top;}
.cf fieldset{border:none;}
.cf legend{display:none;}


/*clearfix*/
.cf{}
.cf:after{content:""; display:block; clear:both;}


.noBg{background:none !important;}
.noLine{border:none !important;}



























