@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0}
li{list-style:none}
img{display:block; width:100%;}
a{color:none; text-decoration:none;}
/*************************************header************/

#header{position:relative; background-color:#19A4D1}

#check_mob{display:none;}
#check_mob ~.menu{display:none}
#check_mob:checked ~.menu{display:block;}

.logo{float:left; width:30%; margin-top:3%; margin-left:10px;}

.gnb{float:left; width:42%; margin-left:13%; margin-top:4%;}
.gnb li{ width:28%; font-size:10px; float:left; text-align:center; color:white; padding-left:5px;}
.gnb .fas{font-size:25px}
.gnb a{color:white;}

.hamburger{float:right; width:7%; margin:20px 5px; }
.menu{overflow:hidden; width:100%; margin:0 auto; }
.menu li{font-size:25px; padding-left:20px; text-align:left; color:black; background-color:white;}
.menu li:active{ text-decoration:underline; }

/***************************************visual image*******************/
.visual{width:100%; margin:0 auto;}
.tab_pic img{ width:100%;}
.sheet img{width:100%}

#tab1,#tab2,#tab3,#tab4,#tab5{display:none}

#tab1 ~.big1{display:none}
#tab1:checked ~.big1{display:block;}
#tab1:checked~.tab_round>.round1{background-color:#19A4D1; }

#tab2 ~.big2{display:none}
#tab2:checked ~.big2{display:block;}
#tab2:checked~.tab_round>.round2{background-color:#19A4D1; }

#tab3 ~.big3{display:none}
#tab3:checked ~.big3{display:block;}
#tab3:checked~.tab_round>.round3{background-color:#19A4D1; }

.round1,.round2,.round3,.round4,.round5{ 
width:18px; height:18px; float:left; border-radius:100px; background-color:#ccc; margin:5px}

.tab_round{margin-left:40%; margin-bottom:10px;}

/************************************metapo************/
.meta{overflow:hidden; width:100%; margin-top:10px;}
.box1,.box2,.box3,.box4,.box5,.box6{ width:33%; float:left; }


/*****************************event*****************/

.event{overflow:hidden; width:100%; margin:10px 5px;}
.title{font-size:25px; width:65%; height:30px; line-height:30px; font-weight:bold; float:left; margin-left:10px;}
.view_more{width:30%; font-size:15px; height:30px; line-height:30px; text-align:center; float:right;}
.view_more a{color:black}

.red{color:red; font-size:15px; font-weight:bold;}
.evt{width:47%; float:left; position:relative}
.text{width:100%; float:left; background-color:white; opacity:0.9; color:black; font-size:15px;
			 position:absolute; bottom:0; left:0; overflow:hidden; text-align:center; padding-top:5px;}

.evt1,.evt3,.evt5{margin:0 10px;}

.evt3,.evt4,.evt5,.evt6{ margin-top:10px;}

/*****************************banner***************************/
.banner{width:100%; margin-top:20px;}

/****************************best_special************************/
.best{width:100%; overflow:hidden; margin:10px 5px; }
.special{width:100%; margin:10px 5px; }

.best1,.best2{width:47%; float:left; position:relative}
.best1{ margin:0 10px;}



.card_banner1,.card_banner2{width:100%; height:150px;}

/***********************************footer****************/

#footer{width:100%; background-color:#D8D8D8;}

.footer_sns{width:70%}
.footer_logo{width:80%; margin:10px 20px}

.sns{overflow:hidden; margin-left:30px;}
.sns li{float:left; font-size:25px; padding-left:10px; color:#366;}
.copyright{font-size:12px; margin-top: 20px; margin-left:30px;}


/**view more button**/
#chk_foot{display:none;}
#chk_foot ~.foot{display:none}
#chk_foot:checked ~.foot{display:block;}

#chk_foot ~.more{display:block;}
#chk_foot ~.less{display:none;}
#chk_foot:checked ~.more{display:none}
#chk_foot:checked ~.less{display:block}

.more,.less{font-size:20px; font-weight:bold; margin:20px;}
.foot{width:70%; margin:20px; overflow:hidden;}
.foot li{font-size:15px; height:20px; line-height:20px; text-align:left;}
.foot li:first-child{font-size:20px; font-weight:bold; padding:10px 0;}
.foot li:active{ text-decoration:underline; }