<!DOCTYPE HTML>

<html>
	<head>
		<title>개인정보 확인</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/css/function/vendor.bundle.base.css">
    <!--기본css파일--->
    <link rel="stylesheet" href="../static/css/basic/dashboard-basic.css">

    <!--this page css-->
    <link rel="stylesheet" href="../static/css/findPassword.css">
    
</head>
<body>
   
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
     <div class="content-wrapper d-flex align-items-center auth multi-step-login">
       <div class="row w-100">

          <div class="col-md-7 pb-3 mx-auto">
            <div class="brand-logo text-center"><a href="./index.html"><img src="../static/images/wisedome-logo.png" alt="logo"></a></div>
            <h3 class="text-center">개인정보 확인</h3>

              <form class="step-form" id="msform">
             
                <!-- 1 step : (이름: 창원대, 이메일 : abc@naver.com)을 입력해야 다음 버튼이 활성화됨 -->
                <fieldset>
                  <p class="mb-3 text-muted">회원가입시 입력했던 이름과 이메일을 입력해주시기 바랍니다</p>

                  <div class="form-group">
                    <input class="form-control" type="text" name="username" id="name"  placeholder="성함"/>
                    <div class="error" id="error-name">회원님의 이름을 찾을수 없습니다</div>
                    <div class="success" id="success-name">회원님의 이름이 올바르게 입력되었습니다</div>
                  </div>

                  <div class="form-group">  
                    <input class="form-control" type="email" name="email" id="email" placeholder="이메일 주소" />
                    <div class="error" id="error-email">회원님의 이메일주소를 찾을수 없습니다</div>
                    <div class="success" id="success-email">회원님의 이메일주소가 올바르게 입력되었습니다</div>
                  </div>
                  <button class="btn btn-primary next action-button float-right" type="button" name="next" value="Next" id="step1" disabled>다음</button>
                </fieldset>

              </form>
            </div>



         </div>
      </div><!-- content-wrapper ends -->
   </div> <!-- page-body-wrapper ends -->
</div><!-- container-scroller -->



    
<!-- plugins:js 기본 필수로 들어가는 JS파일-->
<script src="../static/js/plugin/vendor.bundle.base.js"></script>
<!-- Plugin js for this page -->
<script src="../static/js/plugin/easing.min.js"></script>
<script src="../static/js/findPassword.js"></script><!--이름 및 이메일 설정을 바꾸려면 이 파일 102째줄에 참고-->

</body>
</html>

