<!DOCTYPE HTML>

<html>
	<head>
		<title>비밀번호 재설정</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/css/function/vendor.bundle.base.css">
    <!--기본css파일--->
    <link rel="stylesheet" href="../static/css/basic/dashboard-basic.css">

    <!--this page css-->
    <link rel="stylesheet" href="../static/css/findPassword.css">
    
</head>
<body>
   
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
     <div class="content-wrapper d-flex align-items-center auth multi-step-login">
       <div class="row w-100">

          <div class="col-md-7 pb-3 mx-auto">
            <div class="brand-logo text-center"><a href="./index.html"><img src="../static/images/wisedome-logo.png" alt="logo"></a></div>
            <h3 class="text-center">비밀번호 재설정</h3>

              <form class="step-form" id="msform">
                <!-- progressbar -->
                <ul class="step-progress" id="progressbar">
                  <li class="active">정보입력</li>
                  <li>인증하기</li>
                  <li>재설정</li>
                  <li>완료</li>
                </ul>

                <!-- 1 step -->
                <fieldset>
                  <p class="mb-3 text-muted">회원가입시 입력했던 이름과 이메일을 입력해주시기 바랍니다</p>

                  <div class="form-group">
                    <input class="form-control" type="text" name="username" id="name"  placeholder="성함"/>
                    <div class="error" id="error-name">회원님의 이름을 찾을수 없습니다</div>
                    <div class="success" id="success-name">회원님의 이름이 올바르게 입력되었습니다</div>
                  </div>

                  <div class="form-group">  
                    <input class="form-control" type="email" name="email" id="email" placeholder="이메일 주소" />
                    <div class="error" id="error-email">회원님의 이메일주소를 찾을수 없습니다</div>
                    <div class="success" id="success-email">회원님의 이메일주소가 올바르게 입력되었습니다</div>
                  </div>
                  <button class="btn btn-primary next action-button float-right" type="button" name="next" value="Next" id="step1" >다음</button>
                </fieldset>

                 <!-- 2 step -->
                <fieldset>
                    <i class="mdi mdi mdi-email-open text-warning icon-lg"></i>
                    <h4>인증코드 전송 완료</h4>
                    <p class="mb-3 text-muted">이메일로 전송된 인증코드를 이곳에 입력해주시기 바랍니다</p>

                    <div class="form-group">
                      <input class="form-control" type="text" name="code" id="code" placeholder="인증코드 입력" />
                      <div class="error" id="error-code">인증코드가 올바르지 않습니다</div>
                      <div class="success" id="success-code">인증코드가 확인되었습니다</div>
                    </div>
                   <button class="btn btn-primary next action-button float-right" type="button" name="next" value="Next" id="step2" >다음</button>
                </fieldset>

                <!-- 3 step -->
                <fieldset>
                  <div class="form-group">
                    <input class="form-control" type="password" name="password" id="pwd1" placeholder="새로운 비밀번호 입력" />
                   </div>
                   <div class="form-group">
                     <input class="form-control" type="password" name="re-paassword" id="pwd2" placeholder="새로운 비밀번호 다시입력"  />
                     <div class="error" id="error-pwd">비밀번호 입력이 일치하지 않습니다</div>
                     <div class="success" id="success-pwd">비밀번호가 일치합니다</div>
                   </div>
                  <button class="btn btn-primary next action-button float-right" type="button" name="next" value="Next" id="step3" >다음</button>
                </fieldset>

                  <!-- 4 step -->
                <fieldset class="text-center">
                  <h4 class="font-weight-bold">비밀번호 업데이트 완료</h4>
                  <i class="mdi mdi-shield-check text-warning icon-lg"></i>
                  <p class="mb-0 text-muted">비밀번호가 성공적으로 업데이트 되었습니다</p>
                  <p class="mb-0 text-muted">다시 로그인하여 주시기 바랍니다</p>
                  <br>
                  <a href="./login.html">로그인 페이지로 돌아가기</a>
                </fieldset>
              </form>
            </div>


         </div>
      </div><!-- content-wrapper ends -->
   </div> <!-- page-body-wrapper ends -->
</div><!-- container-scroller -->



    
<!-- plugins:js 기본 필수로 들어가는 JS파일-->
<script src="../static/js/plugin/vendor.bundle.base.js"></script>
<!-- Plugin js for this page -->
<script src="../static/js/plugin/easing.min.js"></script>
<script src="../static/js/findPassword.js"></script>

</body>
</html>

