@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0}
li{list-style:none}
img{display:block; width:100%;}
a{color:none; text-decoration:none;}

/*************************************header************/

#header{position:relative; background-color:#19A4D1}

#check_mob{display:none;}
#check_mob ~.menu{display:none}
#check_mob:checked ~.menu{display:block;}

.logo{float:left; width:30%; margin-top:3%; margin-left:10px;}

.gnb{float:left; width:42%; margin-left:13%; margin-top:4%;}
.gnb li{ width:28%; font-size:10px; float:left; text-align:center; color:white; padding-left:5px;}
.gnb .fas{font-size:25px}
.gnb a{color:white}

.hamburger{float:right; width:7%; margin:20px 5px; }
.menu{overflow:hidden; width:100%; margin:0 auto; }
.menu li{font-size:25px; padding-left:20px; text-align:left; color:black; background-color:white;}
.menu li:active{ text-decoration:underline; }

.visual{width:100%;}

/*********************************************************sub main*********************/
.main{overflow:hidden; width:100%; margin:0 auto;}

#chk{display:none}
#chk ~.list_menu{display:none}
#chk:checked ~.list_menu{display:block;}

#chk ~.plus{display:block}
#chk ~.minus{display:none}
#chk:checked ~.plus{display:none}
#chk:checked ~.minus{display:block}

.plus,.minus{float:left; width:7%; height:25px; margin-top:15px; margin-left:3%}
.activity{text-align:left; padding-top:10px; padding-left:10px; font-size:30px; height:30px; line-height:30px;
 float:left; width:28%;}
 
select{float:right; width:30%; height:30px; font-size:18px; line-height:30px; border:1px solid #19A4D1; margin:15px}

.list_menu li{font-size:22px; text-align:left; padding-left:10px; width:100%; height:35px; line-height:35px}
.list_menu{overflow:hidden; width:100%; margin:0 auto; border-top:2px solid #19A4D1}
.list_menu a{color:black;}

/****************************************************shop all*********************/
.pic{width:45%; float:left; margin-left:3%; }

.view_more{width:100%; font-size:20px; height:30px; line-height:30px; text-align:center;}


/***********************************footer****************/

#footer{width:100%; background-color:#D8D8D8;}

.foot{width:70%; margin:20px}

.foot li{font-size:15px; height:20px; line-height:20px; text-align:left;}
.foot li:first-child{font-size:20px; font-weight:bold; padding:10px 0;}

.footer_sns{width:70%}
.footer_logo{width:80%; margin:10px 20px}

.sns{overflow:hidden; margin-left:30px;}
.sns li{float:left; font-size:25px; padding-left:10px; color:#366;}
.copyright{font-size:12px; margin-top: 20px; margin-left:30px;}
.sns a{color:grey}


/**view more button**/
#chk_foot{display:none;}
#chk_foot ~.foot{display:none}
#chk_foot:checked ~.foot{display:block;}

#chk_foot ~.more{display:block;}
#chk_foot ~.less{display:none;}
#chk_foot:checked ~.more{display:none}
#chk_foot:checked ~.less{display:block}

.more,.less{font-size:20px; font-weight:bold; margin:20px;}
.foot{width:70%; margin:20px; overflow:hidden;}
.foot li{font-size:15px; height:20px; line-height:20px; text-align:left;}
.foot li:first-child{font-size:20px; font-weight:bold; padding:10px 0;}
.foot li:active{ text-decoration:underline; }