<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/css/function/vendor.bundle.base.css">
    <!--css--->
    <link rel="stylesheet" href="../../static/css/basic/dashboard-basic.css">
    <link rel="stylesheet" href="../../static/css/function/darkmode.css">
    <!--this page css-->
    <link rel="stylesheet" href="../../static/css/myProfile.css">

 
</head>
  <body>
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="./dashboard.html"><img src="../../static/images/wisedome-logo-white.png" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="./dashboard.html"><img src="../../static/images/Symbol-grey.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
            <span class="mdi mdi-format-horizontal-align-left " onclick="intend(this)"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../../static/images/face5.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1">Chris</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item " href="../workspace/myProfile.html">
                  <i class="mdi mdi mdi-account-circle mr-2 text-success"></i>  My Profile </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>  Log Out </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="darkSwitch">
                  <label class="custom-control-label" for="darkSwitch"></label> 
                </div>
              </div>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      
 <!--왼쪽 사이드바 -->
      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav ">
            <li class="nav-item nav-profile">
              <a href="./myProfile.html" class="nav-link">
                <div class="nav-profile-image">
                  <img src="../../static/images/face5.jpg" alt="profile">
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Chris</span>
                  <span class="text-secondary text-small">Beginner</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dashboard.html">
                <span class="menu-title ">HOME</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="./projectList.html">
                <span class="menu-title">PRJECT</span>
                <i class="mdi mdi-apps menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./point.html">
                <span class="menu-title">POINT</span>
                <i class="mdi mdi-trophy-variant menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./qnaBoard1.html">
                <span class="menu-title">Q&A</span>
                <i class="mdi mdi-human-greeting menu-icon"></i>
              </a>
            </li>

            <li class="nav-item sidebar-actions">
              <a class="nav-link" href="./point.html">
                <div class="border-bottom"></div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4 reward-btn">
                  <i class="mdi mdi-cash-multiple"></i> My Point</button>
                  <br>
                <div class="border-bottom"></div>
              </a>
            </li>
          </ul>
        </nav>




                                              
<div class="main-panel">
<div class="content-wrapper">

    <div class="page-header">
      <h3 class="page-title">My Page</h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
           <li class="text-info"><i class="mdi mdi-trophy-variant mdi-18px"></i>Level : Beginner</li>  
        </ul>
      </nav>
    </div>

<!--프로필 보이는 영역-->
<div class="row">
  <div class="col-xl-6 grid-margin stretch-card">
    <div class="card bg-white">
      <div class="card-body">
  
           <div class="my-border-bottom text-center pb-4">
             <img src="../../static/images/man.jpg" alt="profile" class="img-lg rounded-circle mb-3">
              <h6>Chris</h6> 
               <p>Hello 2022</p>
<!--별명변경하는 팝업-->
               <div class="text-center">    
                <button class="btn btn-gradient-success " type="edit" data-toggle="modal" data-target="#editProfile" ><i  class="mdi mdi-account-circle"></i> &nbsp; Edit</button>  
             </div>
            </div>

            <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editPw" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editPw">Edit My Nickname</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="nickname" class="col-form-label">Nickname</label>
                        <input type="text" class="form-control" id="nickname">
                      </div>
                      </form>
                    </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-success">Save</button>
                        </div>
                      </div>
                    </div>
                  </div><!--프로필수정 팝업 여기까지-->           


        <div class="my-border-bottom py-4">
          <p> My Intrest</p>
           <div>
            <label class="badge badge-outline-dark">Image Tagging</label>
            <label class="badge badge-outline-dark">Summraize</label>
            <label class="badge badge-outline-dark">Image Tagging</label>
            <label class="badge badge-outline-dark">Premium Project</label>
           </div>
        </div>

         <div class="pt-4">
             <p class="clearfix">
                 <span class="float-left"><i  class="mdi mdi-human-male-female"></i>  Gender</span>
                 <span class="float-right text-muted">Make</span>
             </p>
             <p class="clearfix">
                <span class="float-left"><i  class="mdi mdi-cake-variant"></i>  DOB</span>
                <span class="float-right text-muted">2000.10.20</span>
             </p>
             <p class="clearfix">
                <span class="float-left"><i  class="mdi mdi-cellphone"></i>  Contact</span>
                <span class="float-right text-muted">123-456-7877</span>
             </p>
             <p class="clearfix">
                 <span class="float-left"><i  class="mdi mdi-mail-ru"></i> Email</span>
                <span class="float-right text-muted">abc@gmail.com</span>
             </p>

             <p class="clearfix">
              <span class="float-left"><i  class="mdi mdi-lock"></i> Password</span>
               <!--비번 수정 버튼추가-->
               <button class="btn btn-secondary btn-sm float-right " type="edit" data-toggle="modal" data-target="#editpw" >Update</button>  
             </p>

              <!--비번 수정 팝업-->
         <div class="modal fade" id="editpw" tabindex="-1" role="dialog" aria-labelledby="editPw" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editPw">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="nickname" class="col-form-label">Current Password</label>
                <input type="password" class="form-control" id="pw">
              </div>
              <div class="form-group">
                <label for="new-pw" class="col-form-label">New Password</label>
                <input type="password" class="form-control" id="new-pw">
              </div>
                <div class="form-group">
                <label for="new-pw" class="col-form-label">Re-enter New Password</label>
                <input type="password"  class="form-control" id="new-pw">
                </div>
              </form>
            </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-success">Save</button>
                </div>
              </div>
            </div>
         </div><!--비밀번호 변경 끝-->


 </div>
 

    </div><!--col lg-6-->
  </div><!--card-->
</div><!--card-body-->


 <!--이달의 통계-->     
<div class="col-xl-6 grid-margin stretch-card ">  
  <div class="card bg-white ">
    <div class="card-body">
   
      <div class="my-border-bottom py-4">
        <h6 class="font-weight-normal">Completed Proejct <i class="mdi mdi-database-plus mdi-1em float-right"></i></h6>
        <h2 class="my-4">45</h2>
        <div class="progress progress-md flex-grow">
            <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="55" style="width: 55%;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="card-text mt-3 text-right">Increased 10%</p>
      </div>

     <div class="my-border-bottom py-4">
       <h6 class="font-weight-normal">Pending Proejct <i class="mdi mdi-database-minus mdi-1em float-right"></i></h6>
         <h2 class="my-4">9</h2>
         <div class="progress progress-md flex-grow">
             <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="32" style="width: 32%;" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text mt-3 text-right">Decreased 5 %</p>
     </div>

     <div class="pt-4">
        <h6 class="font-weight-normal">Montly Reward <i class="mdi mdi-star-circle mdi-1em float-right"></i></h6>
        <h2 class="my-3">10,230 </h2>
         <div class="progress progress-md flex-grow">
          <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="72" style="width: 72%;" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
         <p class="card-text mt-3 text-right">Increased 20%</p>
      </div>
    </div><!--col lg-6-->
   </div><!--card-->
</div><!--card-body-->


<!--참여프로젝트-->
    <div class="col-xl-12 grid-margin" >
      <div class="card bg-white">
        <div class="card-body ">
          <h4 class="card-title "><i class="mdi mdi-view-list"></i>  &nbsp; My Projects</h4>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th> # </th>
          <th> Project Name</th>
          <th> Progress</th>
          <th> Earning Point </th>
          <th> Deadline</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td>Emotion tagging</td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 7,700 </td>
          <td> 2020.03.15</td>
        </tr>
        <tr>
          <td> 2 </td>
          <td>Image Uploading</td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 1,200 </td>
          <td> 2020.06.01 </td>
        </tr>
        <tr>
          <td> 3 </td>
          <td> Obg/Sub tagging </td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 1,010 </td>
          <td> 2020.10.11 </td>
        </tr>
        <tr>
          <td> 4 </td>
          <td> Video Tumbnail</td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 6,980 </td>
          <td> 2020.05.15 </td>
        </tr>
        <tr>
          <td> 5 </td>
          <td> Voice tagging </td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 1,600 </td>
          <td> 2020.07.30 </td>
        </tr>
        <tr>
          <td> 6 </td>
          <td> Summarizing </td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td>12,030</td>
          <td>2020.04.20 </td>
        </tr>
        <tr>
          <td> 7 </td>
          <td> Image Bounding</td>
          <td>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
          <td> 15,000 </td>
          <td> 2020.06.11 </td>
        </tr>
      </tbody>
    </table>
 </div><!--table responsive-->
</div><!--col-xl 12-->
</div><!--card-->
</div><!--card body--->

   
<!--포인트내역 -->
<div class="col-xl-12 grid-margin">
  <div class="card bg-white">
    <div class="card-body">
      <h4 class="card-title "><i class="mdi mdi-star-circle"></i>My Points</h4>
  
      <div class="row">
        <div class="col-xl-9 d-inline-flex">

       <div class="table-responsive">
          <table class="table table-bordered table-xl-responsive">
            <thead>
              <tr class="table-active">
                <th> # </th>
                <th> Project</th>
                <th> Number</th>
                <th> Amount </th>
                <th> Paid Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> 1 </td>
                <td> Emotion Tagging</td>
                <td> 26 </td>
                <td> 7,700 </td>
                <td>2020.11.15 </td>
              </tr>
              <tr>
                <td> 2 </td>
                <td> Image Bounding</td>
                <td> 9 </td>
                <td> 1,050 </td>
                <td> 2020.10.01 </td>
              </tr>
              <tr>
                <td> 3 </td>
                <td> Summarizing</td>
                <td> 49 </td>
                <td> 18,000 </td>
                <td> 2020.09.23 </td>
              </tr>
              <tr>
                <td> 4 </td>
                <td> Obj/Sub Tagging</td>
                <td> 105 </td>
                <td> 84,230</td>
                <td> 2020.08.15 </td>
              </tr>
              <tr>
                <td> 5 </td>
                <td> Image Uploading</td>
                <td> 152 </td>
                <td> 17,400</td>
                <td> 2020.07.13 </td>
              </tr>
            </tbody>
          </table>
        </div><!--table responsive-->
      </div><!--col xl 9-->

<div class="col-xl-3 answers">  
  <div class="my-4">
    <h6 class="font-weight-normal"> <i class="mdi mdi-star-circle"></i>Available Points</h6>
    <h2 class="py-4">2150</h2>
  </div>
  <a type="button" class="btn btn-gradient-primary btn-block" href="../workspace/point.html"><i class="mdi mdi-cash mr-2"></i>Reward</a>
</div><!--col xl 3-->
</div><!--row-->
</div><!--card body-->
</div><!--card-->
</div><!--col xl 12-->
</div><!--contents wrapper-->
   

<!-- FOOTER -->
 <footer class="footer bg-white">
    <div class="text-center">
      <span class="text-muted">Copyright © 2020 <a href="#" target="_blank">Data.ly</a>. All rights reserved.</span>
    </div>
  </footer>
    
</div> <!-- main-panel ends -->
</div><!-- page-body-wrapper ends -->
</div> <!-- container-scroller -->

<!-- plugins:js-->
<script src="../../static/js/plugin/vendor.bundle.base.js"></script>
<script src="../../static/js/plugin/off-canvas.js"></script>
<script src="../../static/js/plugin/hoverable-collapse.js"></script>
<script src="../../static/js/plugin/misc.js"></script>
<script src="../../static/js/darkmode.js"></script>

</body>
</html>