<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Text Tagging</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/css/function/vendor.bundle.base.css">
    <!--기본 css--->
    <link rel="stylesheet" href="../../static/css/basic/dashboard-basic.css">
    <link rel="stylesheet" href="../../static/css/basic/guideline.css">
    <link rel="stylesheet" href="../../static/css/function/darkmode.css">
    <!---현재 페이지에만 들어가는 css-->
    <link rel="stylesheet" href="../../static/css/workspace-text.css">

 
  </head>
  <body>
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="./dashboard.html"><img src="../../static/images/wisedome-logo-white.png" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="./dashboard.html"><img src="../../static/images/wisedome-logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
            <span class="mdi mdi-format-horizontal-align-left " onclick="intend(this)"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../../static/images/face5.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1">Chris</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item " href="../workspace/myProfile.html">
                  <i class="mdi mdi mdi-account-circle mr-2 text-success"></i> My Profile </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>Log Out </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <div class="nav-link">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="darkSwitch">
                  <label class="custom-control-label" for="darkSwitch"></label> 
                </div>
              </div>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      
 <!--왼쪽 사이드바 -->
      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav ">
            <li class="nav-item nav-profile">
              <a href="../workspace/myProfile.html" class="nav-link">
                <div class="nav-profile-image">
                  <img src="../../static/images/face5.jpg" alt="profile">
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Chris</span>
                  <span class="text-secondary text-small">Beginner</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dashboard.html">
                <span class="menu-title ">HOME</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="./projectList.html">
                <span class="menu-title">PRJECT</span>
                <i class="mdi mdi-apps menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./point.html">
                <span class="menu-title">POINT</span>
                <i class="mdi mdi-trophy-variant menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./qnaBoard1.html">
                <span class="menu-title">Q&A</span>
                <i class="mdi mdi-human-greeting menu-icon"></i>
              </a>
            </li>

            <li class="nav-item sidebar-actions">
              <a class="nav-link" href="./point.html">
                <div class="border-bottom"></div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4 reward-btn">
                  <i class="mdi mdi-cash-multiple"></i> My Point</button>
                  <br>
                <div class="border-bottom"></div>
              </a>
            </li>
          </ul>
        </nav>

  <!-- 메인 작업화면 -->
 <div class="main-panel">
   <div class="content-wrapper">

    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white"><i class="mdi mdi-heart"></i></span>  &nbsp;
        Objective / Subjective
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <label for="controlbar controlbar-gradient-success"><i class="mdi mdi-format-size text-primary "></i> <span class="text-adjust">Text Size</span> 
            <input type="button" id="minus_btn" value="&#x2212;" data-csize='-4' class="btn btn-light btn-rounded btn-icon" >
            <input type="button" id="add_btn" value="+" data-csize='4' class="btn btn-light btn-rounded btn-icon">
            </label>
        </ul>
      </nav>
    </div>


<!------문제 들어가는 영역-------->
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card bg-white">
      <div class="card-body"> 
        <h4 class="card-title"><i class="mdi mdi-label"></i>  &nbsp; Please read this article and select a tag</h4>
            <div class="row mt-4">
              <div class="col-lg-9 main-text">
                <p class="textsize">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem illum excepturi distinctio, dicta voluptas expedita libero inventore nulla dolores impedit, eveniet nesciunt omnis quos autem necessitatibus quod. Quod, temporibus? Enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempora cum, accusantium ducimus quia odit at vel itaque repudiandae aut amet illo! Pariatur, facilis nobis mollitia dignissimos officia natus unde.
                </p>
              </div>
              <div class="col-lg-3 answers">  
                <button type="radio" class="btn btn-primary"><i class="mdi mdi-cube-outline"></i> Objective</button>
                <button type="radio" class="btn btn-primary"><i class="mdi mdi-cube-unfolded"></i> Subjective</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-12 grid-margin" id="manage-answer-top">
      <div class="card bg-white">
        <div class="card-body ">
    <h4 class="card-title "><i class="mdi mdi-format-list-numbered"></i>  &nbsp; Manage Answers</h4>
        <div class="row">
    <div class="col-lg-9 d-inline-flex">
      <p class="card-description mt-3"> Please click the button if you want to change the preivous answers </p>
    </div>
    <div class="col-lg-3 answers">  
      <button type="button" class="btn btn-inverse-info" id="manage-answer-btn"><i class="mdi mdi-file-multiple"></i> Manage</button>
    </div>
    </div>
    </div>
    </div>
   </div>


<div class="col-md-12 grid-margin" id="manage-answer"><!---나의 답변관리 영역-->
  <div class="card bg-white">
    <div class="card-body">
      <h4 class="card-title"><i class="mdi mdi-message-text"></i> &nbsp; Answer</h4>

      <div class="page-btn-group ">
        <button class="btn btn-inverse-secondary btn-sm"><i class="mdi mdi-chevron-left"></i></button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page1')">1</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page2')">2</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page3')">3</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page4')">4</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page5')">5</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page6')">6</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page7')">7</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page8')" disabled>8</button>
        <button class="btn btn-inverse-secondary btn-sm tablink" onclick="openPage(event,'page9')" disabled>9</button>
        <button class="btn btn-inverse-secondary btn-sm "><i class="mdi mdi-chevron-right"></i></button>
      </div>

    <div class="row mt-4">
      <div class="col-lg-9 main-text"> <!---이전 문제화면 뜨는곳-->

        <div class="previous-question pageContents" id="page1"><!---1번문제화면-->
          <p class="textsize">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, consectetur! Modi ad, omnis nam vel quod magnam reiciendis similique, dignissimos tempore praesentium fuga esse consequuntur quos consequatur, assumenda quisquam porro.</p> 
         <div class="my-answer">
          <p class="card-description">Answer <span> Subjective</span><!---내가 기존에 제출한 답변 --->
          </p>
        </div>
        </div>
  
        <div class="previous-question pageContents" id="page2"><!---2번문제화면(여기서부터 계속 반복)---->
          <p class="textsize"> ipsum dolor sit amet consectetur adipisicing elit. Quod quia quidem dignissimos magnam rerum, provident a quaerat! Quos soluta voluptatum, modi a laboriosam et assumenda voluptas dolorem explicabo voluptatibus facilis. </p> 
         <div class="my-answer">
          <p class="card-description">Answer <span> Objective</span><!---내가 기존에 제출한 답변 --->
          </p>
        </div>
        </div>

        <div class="previous-question pageContents" id="page3"><!---3번문제화면(여기서부터 계속 반복)---->
          <p class="textsize">amet consectetur adipisicing elit. Rem ab molestiae itaque accusamus aliquid similique error fugit explicabo ratione quod expedita, reprehenderit deleniti odit, blanditiis atque aut in temporibus quos?</p> 
         <div class="my-answer">
          <p class="card-description">Answer <span> Objective</span>
          </p>
        </div>
        </div>
   
        <div class="previous-question pageContents" id="page4"><!---4번문제화면(여기서부터 계속 반복)---->
          <p class="textsize"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed</p> 
         <div class="my-answer">
          <p class="card-description">Answer <span> Subjective</span>
          </p>
        </div>
        </div>  
        
        <div class="previous-question pageContents" id="page5"><!---5번문제화면(여기서부터 계속 반복)---->
          <p class="textsize"> Accusantium libero quod maiores, aspernatur sequi ducimus consectetur adipisci magnam, quisquam expedita totam necessitatibus tempore doloremque quasi? Itaque unde dolorum reprehenderit rerum.</p> 
         <div class="my-answer">
          <p class="card-description">Answer <span> Subjective</span>
          </p>
        </div>
        </div>  

       <!---6번문제화면(여기서부터 계속 반복)---->
        <div class="previous-question pageContents" id="page6">
         <p class="textsize"><!--여기안에 문제들어와야함---></p> 
         <!--문제 푼내용이 없을떄 디폴트 이미지--푼 문제가 있으면 해당 태그가 보이지 않도록--->
         <div class="empty-default">No selected answers</div>

         <div class="my-answer">
          <p class="card-description"> <span><!---기존에 선택한 답변 이곳에 떠야함 ---> </span>
          </p>
        </div>
        </div>  
       <!---7번문제화면(여기서부터 계속 반복)---->
        <div class="previous-question pageContents" id="page7">
          <p class="textsize"> </p> 
          <div class="empty-default">No selected answers</div>
         <div class="my-answer">
          <p class="card-description"> <span><!---아직 답변없음 ---> </span>
          </p>
        </div>
        </div> 
        <!---8번문제화면(안푼문제라 버튼 비활성화 되어있음)---->
        <div class="previous-question pageContents" id="page8">
          <p class="textsize"></p>
          <div class="empty-default"></div>
         <div class="my-answer">
          <p class="card-description">  <span><!---아직 답변없음 ---> </span>
          </p>
        </div>
        </div>
        <!---9번문제화면(안푼문제라 버튼 비활성화 되어있음)---->
        <div class="previous-question pageContents" id="page9">
          <p class="textsize"></p>
          <div class="empty-default"></div>
         <div class="my-answer">
          <p class="card-description"> <span><!---아직 답변없음 ---> </span>
          </p>
        </div>
        </div> 
        



 <!---답변 변경 버튼---->
        <div class="reselect">   
            <button type="radio" class="btn btn-outline-primary object" onclick="enableButton()"><i class="mdi mdi-cube-outline"></i> Objective</button>
          <button type="radio" class="btn btn-outline-primary" onclick="enableButton()"><i class="mdi mdi-cube-unfolded"></i> Subjective</button>
        </div>
      </div>

      <div class="col-lg-3 answers"> <!--답변수정 및 제출 영역--->
        <button type="edit" class="btn btn-danger" id="edit"><i class="mdi mdi-tooltip-edit"></i> Edit</button>
        <button type="submit" class="btn btn-success " id="submit" disabled ><i class="mdi mdi-cloud-upload"></i>Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
   

<!--가이드 라인 영역-->
<div class="col-md-12">
  <div class="card bg-white">
    <div class="card-body">
     
      <div id="accordion-1" class="accordion ">
        <div class="card">
          <div class="card-header " id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <h6> <i class="mdi mdi-cards-playing-outline"></i>   Instruction</h6></a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-1">
            <div class="card-body"> 
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas aut enim doloremque consectetur obcaecati quasi ullam numquam. Repellendus maxime laborum ut dolor iusto nesciunt aspernatur eius ullam ipsam alias.
             </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">   <h6> <i class="mdi mdi-assistant"></i>   Example</h6> </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
            <div class="card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta blanditiis minus itaque, molestiae id amet exercitationem quidem molestias pariatur quam sequi accusamus nulla. Tempora aliquid modi aliquam ab enim.
            </div>
          </div>
        </div>
         

        </div>
      </div>
    </div><!--가이드라인-->
    

</div>
</div>



   
<!------------------------------------------- FOOTER -------------------------------->
          <footer class="footer bg-white">
            <div class="d-flex justify-content-center">
              <span class="text-muted">Copyright © 2020 <a href="#" target="_blank">Data.ly</a>. All rights reserved.</span>
              </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->





    <!-- plugins:js 기본 필수로 들어가는 JS파일-->
    <script src="../../static/js/plugin/vendor.bundle.base.js"></script>
    <script src="../../static/js/plugin/off-canvas.js"></script>
    <script src="../../static/js/plugin/hoverable-collapse.js"></script>
    <script src="../../static/js/plugin/misc.js"></script>
    <script src="../../static/js/plugin/darkmode.js"></script>
    <script src="../../static/js/plugin/accordion.js"></script>

    <!-- 이 페이지에서만 필요한 js -->
    <script src="../../static/js/workspace-text.js"></script>

  </body>
</html>