<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>비디오작업</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/css/function/vendor.bundle.base.css">
    <!--기본 css--->
    <link rel="stylesheet" href="../../static/css/basic/dashboard-basic.css">
    <link rel="stylesheet" href="../../static/css/basic/guideline.css">
    <link rel="stylesheet" href="../../static/css/function/darkmode.css">
    <!---현재 페이지에만 들어가는 css-->
    <link rel="stylesheet" href="../../static/css/video.css">
    <link rel="stylesheet" href="../../static/css/afterlongin-navfooter.css">
    <link rel="stylesheet" href="../../static/css/function/owl.carousel.min.css">
 
  </head>
  <body>
    <div class="container-scroller">
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="./dashboard-basic.html"><img src="../../static/images/wisedome-logo-white.png" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="./dashboard-basic.html"><img src="../../static/images/wisedome-logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" >
            <span class="mdi mdi-format-horizontal-align-left " onclick="intend(this)"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="../../static/images/face5.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1">Chris</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item " href="../workspace/myProfile.html">
                  <i class="mdi mdi mdi-account-circle mr-2 text-success"></i> My Profile </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="mdi mdi-logout mr-2 text-primary"></i>Log Out </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
    
            <li class="nav-item">
              <div class="nav-link">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="darkSwitch">
                  <label class="custom-control-label" for="darkSwitch"></label> 
                </div>
              </div>
            </li>
          </ul>

          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      
 <!--왼쪽 사이드바 -->
      <div class="container-fluid page-body-wrapper">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav ">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="../../static/images/face5.jpg" alt="profile">
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Chris</span>
                  <span class="text-secondary text-small">Beginner</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dashboard.html">
                <span class="menu-title ">HOME</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="./projectList.html">
                <span class="menu-title">PRJECT</span>
                <i class="mdi mdi-apps menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./point.html">
                <span class="menu-title">POINT</span>
                <i class="mdi mdi-trophy-variant menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./qnaBoard1.html">
                <span class="menu-title">Q&A</span>
                <i class="mdi mdi-human-greeting menu-icon"></i>
              </a>
            </li>

            <li class="nav-item sidebar-actions">
              <a class="nav-link" href="./point.html">
                <div class="border-bottom"></div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4 reward-btn">
                  <i class="mdi mdi-cash-multiple"></i> My Point</button>
                  <br>
                <div class="border-bottom"></div>
              </a>
            </li>
          </ul>
        </nav>

  <!-- 메인 작업화면 -->
 <div class="main-panel ">
   <div class="content-wrapper image-area">

    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-youtube"></i></span>
        비디오 시청하기
      </h3>
    </div>

    
<div class="row">
  <div class="col-md-12 grid-margin">
    
    <div class="card bg-white ">
      <div class="card-body "> 
        <h4 class="card-title"><i class="mdi mdi-label mr-2"></i> 다음의 영상을 보고 대표이미지로 적절한 이미지를 선택해주세요</h4>
         <div class="row justify-content-end upper-submit">
           <div class="col-sm-6 col-12 text-right">
             <button type="radio" type="submit"  class="btn btn-danger" id="submit" disabled><i class="mdi mdi-arrow-up-bold-circle-outline mr-1"></i> 제출하기</button>
           </div>
         </div>
            <div class="row">
             <div class="col-md-12 mx-auto">
              <div class="modal" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="video">
                  <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                     <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1" allowfullscreen></iframe>
                     </div>
                   </div>
              <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
              </div>
           </div>
        </div>
     </div>

     <div class="col-md-6 text-center mx-auto p-0">
      <a> <i class="mdi mdi-play-circle-outline text-secondary z-depth-1"  data-toggle="modal" data-target="#video"></i></a>
    </div>
   </div>        
  </div> 
 </div>

<!--비디오 클립 선택하기-->
<div class="row owl-group">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card bg-white">
      <div class="card-body">
        <div class="owl-carousel owl-theme full-width">

          <div class="item" >
            <div class="card text-white" id="radio1"  >
              <input type="radio" name="item" >
                <img class="card-img" src="../../static/images/videoCllip-1.PNG" alt="Card image" >
            </div>
          </div>
          <div class="item">
            <div class="card text-white" id="radio2" >
              <input type="radio" name="item">
                <img class="card-img" src="../../static/images/videoCllip-2.JPG" alt="Card image">
            </div>
          </div>
          <div class="item">
            <div class="card text-white" id="radio3" >
              <input type="radio" name="item">
                 <img class="card-img" src="../../static/images/videoCllip-3.JPG" alt="Card image">
            </div>
          </div>
          <div class="item">
            <div class="card text-white" id="radio4">
              <input type="radio"  name="item">
                <img class="card-img" src="../../static/images/videoCllip-4.JPG" alt="Card image">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center bottom-submit">
  <div class="col-12 text-center">
    <button type="radio" type="submit"  class="btn btn-danger" id="submit" disabled><i class="mdi mdi-arrow-up-bold-circle-outline mr-1"></i> 제출하기</button>
  </div>
</div>

  </div>
</div>

<!--가이드 라인 영역 -->
<div class="col-md-12">
  <div class="card bg-white">
    <div class="card-body">
     
      <div id="accordion-1" class="accordion">
        <div class="card">
          <div class="card-header " id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> <h6> <i class="mdi mdi-cards-playing-outline"></i>   이용방법</h6></a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-1">
            <div class="card-body"> 
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptas aut enim doloremque consectetur obcaecati quasi ullam numquam. Repellendus maxime laborum ut dolor iusto nesciunt aspernatur eius ullam ipsam alias.
             </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">   <h6> <i class="mdi mdi-assistant"></i>   예시보기</h6> </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
            <div class="card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A soluta blanditiis minus itaque, molestiae id amet exercitationem quidem molestias pariatur quam sequi accusamus nulla. Tempora aliquid modi aliquam ab enim.
            </div>
          </div>
        </div>
         
        </div>
      </div>
    </div>
</div>


</div><!-- partial -->
</div><!-- main-panel ends -->


<!-- FOOTER-->
<footer class="footer bg-white">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <img class="img-fluid" src="../../static/images/wisedome-logo.png" alt="logo">
         <div class="d-flex mt-3">
          <h6 class="font-weight-normal"> 대표이사 : 차정원</h6>
        </div>
        <div class="d-flex">
          <h6 class="font-weight-normal">사업자등록번호 : 458-42-00460</h6>
        </div>
      </div>

      <div class="col-lg-4">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="../aboutus.html"> 회사소개</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4">
        <div class="d-flex">
          <i class="mdi mdi-cellphone-android"></i>
          <h6 class="font-weight-normal">&nbsp;  (055)-213-5472</h6>
        </div>
        <div class="d-flex">
          <i class="mdi mdi-email"></i>
          <h6 class="font-weight-normal"> &nbsp; wisedomekr@gmail.com</h6>
        </div>

        <div class="d-flex">
          <i class="mdi mdi-home-map-marker"></i>
          <h6 class="font-weight-normal"> &nbsp;경상남도 창원시 의창구 창원대학로 20, 85호관 506-1호 (사림동, 창원대학교)</h6>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p class="text-small">Copyright © 2021 Wisedome All rights reserved.</p>
    </div>      
  </div>
</footer>




</div><!-- page-body-wrapper ends -->

<!-- plugins:js 기본 필수로 들어가는 JS파일-->
<script src="../../static/js/plugin/vendor.bundle.base.js"></script>
<script src="../../static/js/plugin/off-canvas.js"></script>
<script src="../../static/js/plugin/hoverable-collapse.js"></script>
<script src="../../static/js/plugin/misc.js"></script>
<script src="../../static/js/darkmode.js"></script>

<!-- 이 페이지에서만 필요한 js -->
<script src="../../static/js/plugin/owl.carousel.min.js"></script>
<script src="../../static/js/plugin/owl.carousel.js"></script>
 <script src="../../static/js/video.js"></script>
  
</body>
</html>