.head-wrapper {
  background: #c7e4e2;
  height: auto;
}
#nav > ul > li > a {
  color: #dbceddf5 !important;
}
.content-wrapper {
  background: #fff !important;
}
.card {
  background: #f2edf3 !important;
}
.card h3 {
  font-family: "SCDream5";
}
.container-fluid > h3 > .mdi {
  font-size: 1.4rem;
}
.main-panel {
  width: calc(100%) !important;
  z-index: -1;
}

/**키워드검색**/
.faq-search {
  margin-top: 7.5rem;
}
input[type="text"] {
  border-radius: 0;
}

.page-title {
  text-align: center;
  font-size: 2.25rem;
  padding-bottom: 1rem;
  font-family: "SCDream3";
  letter-spacing: 0.25rem;
}
#find {
  padding: 0 0.25rem;
  min-width: 5rem;
  width: 8em;
  max-width: 12rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.content-wrapper .card .card-body {
  background-color: #e5f1f0;
}
/**질문**/
.accordion .card .card-header,
.accordion .card .card-body {
  background: #fff !important;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 991px) {
}

@media all and (max-width: 769px) {
  .card3 {
    margin-top: 2.5rem;
  }
}

@media (max-width: 575px) {
  .head-wrapper {
    height: 12.5rem;
  }
  .faq-search {
    margin-top: 5.5rem;
    padding: 0 7.5%;
  }
  #find {
    width: 5rem;
  }

  .page-title {
    font-size: 2rem;
  }
}
