.w-100 {
  margin: 0;
}

.step-form {
  position: relative;
  width: auto;
  margin: 2.5rem auto;
  text-align: center;
}
.step-form .step-progress {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.step-form .step-progress li {
  position: relative;
  list-style-type: none;
  color: #343a40;
  font-size: 0.875rem;
  font-weight: 500;
  float: left;
}
.step-form .step-progress li:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 20px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #343a40;
  background: #e7dee9;
  border-radius: 100px;
  margin: 0 auto 5px auto;
}
.step-form .step-progress li.active:before {
  background: #1bcfb4;
  color: #fff;
}
.step-form .step-progress li:first-child:after {
  content: none;
}
.step-form fieldset {
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.step-form fieldset :focus {
  border: 1px solid #b66dff;
}
.step-form fieldset input {
  margin: 0 auto;
  width: 90%;
}
.step-form fieldset a {
  text-decoration: none;
  color: #b66dff;
}
.step-form fieldset:not(:first-of-type) {
  display: none;
}

.form-group .btn-inverse-info {
  padding: 0.875rem 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/***에러메세지 뜨는섹션**/
.error {
  margin: 0 auto;
  width: 90%;
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: orangered;
  display: none;
}
.success {
  margin: 0 auto;
  width: 90%;
  padding-left: 0.5rem;
  text-align: left;
  font-size: 0.875rem;
  color: #1bcfb4;
  display: none;
}
#pwd-success {
  margin-top: 1rem;
}

@media (max-width: 575px) {
  .step-form {
    width: 100%;
  }
  .step-form fieldset {
    padding: 2rem 1rem;
  }
  .step-form fieldset input {
    width: 100%;
  }
  .error,
  .success {
    width: 100%;
    padding-left: 0;
    font-size: 0.75rem;
  }
}
