@font-face {
  font-family: "S-CoreDream-2Light";
  src: url("../css/font/SCDream2.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Medium";
  src: url("../css/font/SCDream3.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  float: left;
  width: 50%;
}

#left {
  box-sizing: border-box;
  font-family: "S-CoreDream-2Light";
  background-image: url("../images/office-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: table;
}

.text {
  color: white;
  font-family: "S-CoreDream-2Light";
  text-align: justify;
  width: 100%;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
  padding: 0 25%;
}

.text h3 {
  line-height: 1.5em;
}

.text p {
  line-height: 1.7em;
}

/***오른쪽 회원가입 양식***/
#right {
  height: 100vh;
  display: table;
  font-family: "S-CoreDream-3Medium";
  background: #f2edf3;
}

.register-form {
  overflow: hidden;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 2% 15%;
}

.register-form h5 {
  text-align: left;
}

#year {
  width: 50%;
}

#month,
#day {
  width: 25%;
}
#sex {
  width: 100%;
}
.form-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0.5em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  font-family: "S-CoreDream-3Medium";
  width: 100%;
  height: auto;
  color: #888;
  padding: 0.5em 1em 0.5em 3.5em;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #f2edf3;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  font-family: "S-CoreDream-3Medium";
  height: auto;
  color: #888;
  font-size: 0.875rem;
  padding: 0.5em 1em 0.5em 3em;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background: #f2edf3;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-field:focus {
  -webkit-border: 1px solid #b66dff;
  border: 1px solid #b66dff;
}

.email-confirm {
  width: 35%;
  border-radius: 0.25em;
  border: 0;
  font-family: "S-CoreDream-2Light";
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color: #fff;
  letter-spacing: 0.25em;
}

.icon {
  position: absolute;
  top: 0.5em;
  left: 1em;
  font-size: 1em;
  color: #b66dff;
  text-align: center;
  min-width: 1em;
  max-height: 2em;
}

.select:focus {
  -webkit-border: 1px solid #b66dff;
  border: 1px solid #b66dff;
}

.btn-primary {
  border-radius: 0.25em;
  border: 0;
  font-family: "S-CoreDream-2Light";
  background: linear-gradient(to right, #da8cff, #9a55ff);
  color: #fff;
  letter-spacing: 0.25em;
  font-weight: bold;
  padding: 1em 2em;
  margin-top: 1em;
  cursor: pointer;
  width: 100%;
}

.btn-primary,
.btn-gradient-danger:hover {
  opacity: 0.8;
}

.btn-gradient-danger {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffbf96),
    to(#fe7096)
  );
  background: linear-gradient(to right, #ffbf96, #fe7096);
  border: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: #fff;
  letter-spacing: 0.25em;
  font-weight: bold;
  padding: 1em 2em;
  margin-top: 1em;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25em;
  border: 0;
  font-family: "S-CoreDream-2Light";
}

input[type="checkbox"] {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  margin-right: 1rem;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  border: 1.5px solid #b66dff;
  border-radius: 0.25em;
  background-color: #f2edf3;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.65rem;
  -webkit-border: solid #b66dff;
  border: solid #b66dff;
  -webkit-border-width: 0 2px 2px 0;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -0.35rem;
  left: 0.3rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form ul li {
  display: inline-block;
  font-size: 0.875rem;
  text-align: left;
}

#read-detail {
  color: #b66dff;
}

.register {
  font-size: 0.875rem;
  margin-top: 1em;
  text-align: center;
}

.register a {
  color: #b66dff;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9;
  padding-top: 5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #f2edf3;
  margin: auto;
  text-align: center;
  padding: 2em;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  text-align: left;
  width: 100%;
  height: 25vh;
}

#alert {
  color: red;
}

#dialogoverlay,
#emptyoverlay {
  display: none;
  opacity: 0.8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #555555;
  width: 100%;
  z-index: 10;
}
#dialogbox,
#emptybox {
  display: none;
  position: fixed;
  background: #fff;
  border-radius: 0.25em;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}
#dialogbox > div,
#emptybox > div {
  background: #fff;
  margin: 8px;
}
#dialogboxhead,
#emptyboxhead {
  background: #555;
  font-size: 1rem;
  padding: 10px;
  color: #ccc;
}
#dialogboxbody,
#dialogtime,
#emptyboxbody {
  padding: 20px;
  color: #888;
}
#dialogboxfoot,
#emptyboxfoot {
  padding: 10px;
}

#dialogtime {
  color: red;
  font-size: 0.85rem;
}

@media (max-width: 1280px) {
  section {
    float: left;
    width: 50%;
  }

  .text {
    padding: 10% 25%;
  }

  .register-form {
    padding: 0 10%;
  }

  .agreefm ul {
    padding: 0;
  }
  #dialogbox,
  #emptybox {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #left,
  #right {
    width: 100%;
  }
  #left {
    height: 20vh;
  }
  #right {
    height: 80vh;
  }
  .text {
    width: 100%;
    padding: 0 25%;
  }

  .register-form {
    padding: 10% 15%;
  }
  .modal-content {
    width: 75%;
  }
  #dialogbox,
  #emptybox {
    width: 75%;
  }
}

@media screen and (max-width: 575px) {
  #left {
    height: 15vh;
  }
  #right {
    height: 85vh;
  }

  .intro {
    display: none;
  }
  .register-form {
    padding: 5% 2.5%;
  }

  .agreefm {
    line-height: 1.5em;
  }
  .agreefm ul li:last-child {
    margin-top: 0.5em;
  }
  .modal-content {
    width: 80%;
  }
  .signup h6 {
    padding: 0;
  }
  #dialogbox,
  #emptybox {
    width: 95%;
  }
}
