a {
  text-decoration: none;
}
.navbar {
  max-width: 1620px;
  border-radius: 0.5rem;
  margin: 0 auto;
  transition: background-color 0.7s ease-out;
  background: transparent;
}

.nav-item {
  padding-right: 0.5em;
}
.nav-link {
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  color: #164947;
  font-family: "SCDream3";
}
.nav-link:hover {
  color: black;
}
.dropdown-menu {
  border: none;
  background-color: #e5f1f0;
}
.dropdown-item {
  font-size: 0.6rem;
  color: #164947;
  font-family: "SCDream2";
  background-color: #e5f1f0;
}

/**footer**/
footer {
  background-color: #f2edf3;
  font-family: "SCDream2";
  padding-top: 2rem;
}
#subscribe-btn {
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control {
  width: 70%;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-control:focus {
  border: 1px solid #b66dff;
}
.footer-border-bottom {
  border-bottom: 1px solid #dfd1e2;
}
.email-input {
  max-width: 250px;
}
.sns-group {
  padding: 2.5rem 0;
}
@media screen and (max-width: 769px) {
  .sns-group {
    padding: 1rem 0;
  }
  .email-subscribe {
    padding-top: 1.5rem;
  }
}
